<div class="parent" *ngIf="!gotDataFromSocket">
    <span class="spinner page-center-block"></span>
</div>
<div style="margin-top: 70px;">
  <form [formGroup]="editUserForm" novalidate *ngIf="detailed">
  <h3>You are editing: {{detailed.username}}</h3>
  <div class="form-group">
      <label class="center-block">Status:
        <select class="form-control" formControlName="status" [(ngModel)]="detailed.status">
          <option [value]="true">Active</option>
          <option [value]="false">Disabled</option>
        </select>
      </label>
    </div>
  <div class="form-group">
      <label class="center-block">Role:
        <select class="form-control" formControlName="role" [(ngModel)]="detailed.role">
           <option *ngFor="let status of statuses" value="{{status.id}}">{{status.name}}</option>
        </select>
        <div *ngIf="editUserForm.get('role').errors && (editUserForm.get('role').dirty || editUserForm.get('role').touched)" class="alert alert-danger">
          <div [hidden]="!editUserForm.get('role').errors.required">
            Role is required.
          </div>
        </div>
      </label>
    </div>
  <div class="form-group">
      <label class="center-block">Credentials:
        <input class="form-control" formControlName="credentials" [(ngModel)]="detailed.credentials">
      </label>
  </div>
  <div class="form-group" *ngIf="showPasswordChange">
    <label class="center-block">Set new password for login '{{detailed.username}}:</label>
    <div class="input-group">
        <input class="form-control" formControlName="password" [attr.type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="new_password">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (mousedown)="showEnteredPassword()" (mouseup)="hideEnteredPassword()" (mouseleave)="hideEnteredPassword()">show</button>
        </span>
    </div>
    <div *ngIf="editUserForm.get('password').errors && (editUserForm.get('password').dirty || editUserForm.get('password').touched)" class="alert alert-danger">
        <div [hidden]="!editUserForm.get('password').errors.minlength">
            Password must be at least 4 characters long.
        </div>
        <div [hidden]="!editUserForm.get('password').errors.maxlength">
            Password cannot be more than 24 characters long.
        </div>
    </div>
  </div>
  <button class="btn btn-default" (click)="show_hidePasswordChange()">Change password</button>
  <button class="btn btn-default" [disabled]="editUserForm.get('password').errors || editUserForm.get('status').errors || editUserForm.get('credentials').errors || editUserForm.get('role').errors || (editUserForm.get('password').pristine && editUserForm.get('status').pristine && editUserForm.get('credentials').pristine && editUserForm.get('role').pristine)" (click)="saveDetails(detailed)">Save</button>
  <button class="btn btn-default" (click)="setDefault()">Back</button>
</form>

  <form  [formGroup]="createUserForm" novalidate *ngIf="creatingNew">
    <div class="form-group">
      <label class="center-block">Username:
        <input name="name" class="form-control" formControlName="username" [(ngModel)]="new_user.username" (ngModelChange)="checkIfUsernameExist(new_user.username)">
      </label>
      <div *ngIf="createUserForm.get('username').errors && (createUserForm.get('username').dirty || createUserForm.get('username').touched)" class="alert alert-danger">
          <div [hidden]="!createUserForm.get('username').errors.required">
            Username is required.
          </div>
          <div [hidden]="!createUserForm.get('username').errors.minlength">
            Username must be at least 4 characters long.
          </div>
          <div [hidden]="!createUserForm.get('username').errors.maxlength">
            Username cannot be more than 24 characters long.
          </div>
        </div>
      <div class="alert alert-danger" [hidden]="!username_exist">
        Such username already exists.
      </div>
    </div>
    <label class="center-block">Password:</label>
      <div class="input-group">
        <input class="form-control" formControlName="password" [attr.type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="new_password">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (mousedown)="showEnteredPassword()" (mouseup)="hideEnteredPassword()" (mouseleave)="hideEnteredPassword()">show</button>
        </span>
      </div>
      <div *ngIf="createUserForm.get('password').errors && (createUserForm.get('password').dirty || createUserForm.get('password').touched)" class="alert alert-danger">
          <div [hidden]="!createUserForm.get('password').errors.required">
            Password is required.
          </div>
          <div [hidden]="!createUserForm.get('password').errors.minlength">
            Password must be at least 4 characters long.
          </div>
          <div [hidden]="!createUserForm.get('password').errors.maxlength">
            Password cannot be more than 24 characters long.
          </div>
        </div>
    <div class="form-group">
      <label class="center-block">Status:
        <select class="form-control" formControlName="status" [(ngModel)]="new_user.status">
          <option [value]="true">Active</option>
          <option [value]="false">Disabled</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Role:
        <select class="form-control" formControlName="role" [(ngModel)]="new_user.role">
           <option *ngFor="let status of statuses" value="{{status.id}}">{{status.name}}</option>
        </select>
        <div *ngIf="createUserForm.get('role').errors && (createUserForm.get('role').dirty || createUserForm.get('role').touched)" class="alert alert-danger">
          <div [hidden]="!createUserForm.get('role').errors.required">
            Role is required.
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Credentials:
        <input class="form-control" formControlName="credentials" [(ngModel)]="new_user.credentials">
      </label>
    </div>
    <button class="btn btn-default" [disabled]="createUserForm.get('username').errors || createUserForm.get('password').errors || createUserForm.get('status').errors || createUserForm.get('credentials').errors || createUserForm.get('role').errors || username_exist" (click)="createUser(new_user)">Create</button>
    <button class="btn btn-default" (click)="setDefault()">Back</button>
  </form>

<div *ngIf="users && users.length > 0 && !detailed && !creatingNew">
  <button class="btn btn-default" (click)="startCreatingNewUser()">Create new user</button>
  <table class="table table-striped">
    <thead>
    <th>actions</th>
    <th>status</th>
    <th>username</th>
    <th>role</th>
    <th>credentials</th>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <button class="btn btn-default" (click)="showDetails(user)">Edit</button>
      <td>{{user.status}}</td>
      <td>{{user.username}}</td>
      <td *ngIf="user.role == 11">Root admin</td>
      <td *ngIf="user.role == 22">Gett Admin</td>
      <td *ngIf="user.role == 33">Gett Manager</td>
      <td *ngIf="user.role == 44">Dispatcher</td>
      <td *ngIf="user.role == 77">Super user</td>
      <td>{{user.credentials}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
