<hr>
<div *ngIf="detailed">
  <h3>You are editing: {{detailed.username}}</h3>
  <button (click)="show_hidePasswordChange()">Change password</button>
  <button (click)="saveDetails(detailed)">Save</button>
  <button (click)="detailed = null">Back</button>
  <div>
    <p style="display: inline-block;">status:</p>
    <p style="display: inline-block;" *ngIf="detailed.status">Active</p>
    <p style="display: inline-block;" *ngIf="!detailed.status">Deactive</p>
    <button *ngIf="detailed.status" (click)="deactivateUser(detailed)">Deactivate</button>
    <button *ngIf="!detailed.status" (click)="activateUser(detailed)">Activate</button>
  </div>
  <div>
    <p style="display: inline-block;">role:</p>
    <select [(ngModel)]="new_role">
      <option *ngFor="let status of statuses"  [selected]="status.id === detailed.role" value="{{status.id}}">{{status.name}}</option>
    </select>

  </div>
  <p>credentials: <input [(ngModel)]="detailed.credentials" value="{{detailed.credentials}}"></p>
  <div *ngIf="showPasswordChange">
    <p style="display: inline-block;">Set new password for login '{{detailed.username}}'</p>
    <input [attr.type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="new_password">
    <button (mousedown)="showEnteredPassword()" (mouseup)="hideEnteredPassword()" (mouseleave)="hideEnteredPassword()">show</button>
  </div>
</div>

<div *ngIf="creatingNew">
  <p style="color: red" *ngIf="username_exist">username already exists</p>
  <p>login: <input [(ngModel)]="new_user.username" (ngModelChange)="checkIfUsernameExist(new_user.username)"></p>
  <p style="display: inline-block;">password: <input [attr.type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="new_password"></p>
  <button (mousedown)="showEnteredPassword()" (mouseup)="hideEnteredPassword()" (mouseleave)="hideEnteredPassword()">show</button>
  <p>status: <input [(ngModel)]="new_user.status"></p>
  <p>role <select [(ngModel)]="new_role">
            <option *ngFor="let status of statuses" value="{{status.id}}">{{status.name}}</option>
          </select></p>
  <p>credentials: <input [(ngModel)]="new_user.credentials"></p>
</div>

<div *ngIf="users && users.length > 0 && !detailed && !creatingNew">
  <button (click)="startCreatingNewUser()">Create new user</button>
  <table>
    <thead>
    <th>actions</th>
    <th>status</th>
    <th>username</th>
    <th>role</th>
    <th>credentials</th>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <button (click)="showDetails(user)">Edit</button>
      <td>{{user.status}}</td>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <td>{{user.credentials}}</td>
    </tr>
    </tbody>
  </table>
</div>

